@import "./vars.scss";
@import "./fonts.scss";

html, body {
    padding: 0px;
    margin: 0px;
    background: $bg;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: Pixelify, Arial, Helvetica, sans-serif;
}
