@import "./vars.scss";

html, body {
    padding: 0px;
    margin: 0px;
    background: $bg;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}